body{
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    gap: 10px;
    background-color: rgba(36, 2, 65, 0.357);
}
h1{
    text-align: center;
    width: 100%;
    font-size: 38px;
    background-color: rgba(28, 8, 57, 0.576);
}
#secction1{
    font-size: 17px;
    background-color: rgba(42, 14, 63, 0.607);
}

